/* typos */

body {
	font-family: 'Source Sans Pro', Sans-seriff, Arial;
	font-size: 16px;
	color: $primary-grey;
	font-weight: 400;
}

h1, h2, h3, h4, h5, p, span, input, button {
	font-family: 'Source Sans Pro', Arial, Sans-seriff;
}

.field--label {font-weight: 600;}