// buttons

.primary-btn {
	background-color: #23408f;
    color: #FFF;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 16px;
    letter-spacing: 1px;
	&:hover {
		text-decoration: none;
		opacity: 0.9;
	}
}

.pager {
	.pager__item {
		.button {
			@extend .primary-btn;
			font-size: 21px;
			padding: 10px 40px;
		}
	}
}

.location-btn-link a {
	@extend .primary-btn;
	margin-top: 30px;
	@include mobile(){
		margin: 15px 0 30px;
	}
}
