// colors partial

$primary-grey: #5e5f62;
$theme-dark-blue: #23408f;
$theme-border-grey: #b9bbbd;
$theme-light-bg: #fafafa; /* Metadata module card bg*/
$theme-dark-bg: #f1f1f1; /* footer bg*/
$theme-border-footer: #dbdbdb;